table{
	border-spacing: 0px;
}

td{
	border: 1px solid #222222;
	padding: 0px;
}

div.space{
	width: 5vw;
	min-width: 60px;
	height: 5vw;
	min-height: 60px;
}


table.test {
	border: 50px transparent solid;
	border-image: url(../assets/img/wood.jpg) 10% stretch;
}
table.test tr:first-child td {
	border-top: 0;
}
table.test tr td:first-child {
	border-left: 0;
}
table.test tr:last-child td {
	border-bottom: 0;
}
table.test tr td:last-child {
	border-right: 0;
}


td.grey{
    background-color : #999999 ;
}

td.white{
	background-color : #ffffff;
}

td.black{
	background-color : #000000;
}

td.black_hover{
	background-color : #666666;
}

td.white_hover{
	background-color : #d2d2d2;
}

td.panic{
	background-color : #ff0000;
}
