.inblock {
    display: inline-block;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

table {
    margin: auto;
    border-collapse: collapse;
}

td {
    border: 1px solid black;
    width: 4.5vw;
    height: 4.5vw;
}

#launch {
    width: 50%;
    margin: auto;
}