.center, #launch {
    display: block;
    padding: 0;
    margin: 0 auto;
    text-align: center;
}

#launch {
    width: 50%;
    padding: 1vh 0;
    margin-top: 2vh;
}

#info {
    margin: 1vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#info-main {
    font-size: 150%;
    font-weight: 600;
}

table {
    margin: auto;
    border-collapse: collapse;
}

#battlefield td {
    border: 1px solid black;
    width: 4.20vw;
    height: 4.20vw;
    cursor: crosshair;
    text-align: center;
}