#launch {
    width: 50%;
    margin: auto;
}

table {
    margin: auto;
}

td {
    border: 1px solid black;
    width: 10%;
    position: relative;
}

td:after {
    content: '';
    display: block;
    margin-top: 100%;
}

td .content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* background: gold; */
}