body {
/*  background-image: url(images/sunset.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;*/
background-image: url(images/grid.jpg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
background-position: top;
opacity: 1;
 width: 100%;
 height: 100%;
 letter-spacing: 0.02em;
  font-weight: 400;
 -webkit-font-smoothing: antialiased;
}

*{
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}


#bg {

/*https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(11).jpg*/
}


body {
    font-family: sans-serif;
    height: 100%;
}

/*a {
	color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}*/

#container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.img-responsive {
    height: auto;
    width: auto;
    max-height: 72px;
    max-width: 250px;
}


/*.navbar {
    background-color: #326c92c4;
   
}
*/
/* #33374a;*/

.navbar {
    -o-transition: all .6s;
    -moz-transition: all .6s;
    -webkit-transition: all .6s;
    -ms-transition: all .6s;
    transition: all .6s;
    backface-visibility: hidden;
}
 
.navbar.navbar-no-bg {
    background: rgba(0, 0, 0, 0.2);
}
 
.navbar-dark .navbar-nav {
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
}
 
.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
    border: 0;
}
 
.navbar-dark .navbar-nav .nav-link:hover {
    color: #fff;
}
 
.navbar-dark .navbar-nav .nav-link:focus {
    color: #fff;
    outline: 0;
}
 
.navbar-expand-md .navbar-nav .nav-link {
    padding-left: 1rem;
    padding-right: 1rem;
}
 
/*.navbar-brand {
    width: 105px;
    background: url(../img/logo.png) left center no-repeat;
    border: 0;
    text-indent: -99999px;
}
*/


.navbar-toggler-icon {
    display: block;
    width: 30px;
    height: 30px;
    border: 2px solid #fff;
    border-radius: 3px;
    /*position: relative;*/
    right: 20px;
    top: 20px;
    text-decoration: none;
}

















/*button {
	margin-top : 50px;
}*/

.ag:hover {
	background-image: url(images/game_console.jpg);
	-webkit-transition: background 5s;
	transition: background 300ms ease-in 200ms;
}
.og:hover {
	background-image: url(images/train.jpg);
  	transition: 7s;

}

#page-wrap { 
  background-color: gray;
  /*position: absolute;*/
  /*background-color: rgba(0,0,0,0);*/
  opacity: 0.7;
  /*width: 300px; margin: 40px auto;*/
}

.text{
	opacity: 1;
}

/*h2 {
	color: white;
	opacity: 1;
}*/

.full {
	opacity: 1;
}


/*
header {
  padding: 154px 0 100px;
}

@media (min-width: 992px) {
  header {
    padding: 156px 0 100px;
  }
}

section {
  padding: 150px 0;
}
*/

/*.blurred-box{
  position: relative;
  width: 300px;
  height: 250px;
  top: calc(50% - 175px);
  left: calc(50% - 150px);
  background: inherit;
  border-radius: 2px;
  overflow: hidden;
}

.blurred-box:after{
 content: '';
 width: 400px;
 height: 350px;
 background: inherit; 
 position: absolute;
 left: -25px;
 left position
 right: 0;
 top: -25px;  
 top position 
 bottom: 0;
 box-shadow: inset 0 0 0 200px rgba(255,255,255,0.05);
 filter: blur(0.2px);
}

*/
.user-login-box{
  position: relative;
  margin-top: 50px;
  text-align: center;
  z-index: 1;
}

h2 {
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
}

h3 {
    text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
}


/*.deepshd {
  color: #e0dfdc;
  letter-spacing: .1em;
  text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0, 0, 0, 0.9);
}*/

.highlight {
  /*letter-spacing: .1em;
  text-shadow: -1px -1px 1px #111, 2px 2px 1px #ffffffc4;*/
  font-family: 'Lato', sans-serif;
  font-weight: 800;
  font-size: 25px;
 /* line-height: 1.7;*/
  color: transparent;
  display: block;
    font-size: 3em;
   /* margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;*/
    /*font-weight: bold;*/
      color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: lightblue;
}


/*button{
    position: relative;
	top: 200px;
	right: 20px;
}*/





.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  position: absolute;
  top: 50%;
  left: 55%;
}

.right {
  position: absolute;
  top: 50%;
  right: 55%;
}

/*right: 0;
  background-color: transparent;
*/
.centered {
  position: absolute;
  top: 50%;
  left: 55%;
 /* text-align: center;*/
}


.pos{
  position: fixed;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%, -50%);
  margin: 0 auto;

}

.bot {
	position: relative;
	top: 20vh;
}



#2 {

}









#login {
    text-align: center;
    font-size: 75;
    z-index: 2;
}


#buttonText {
 /*   clear: both;
    background-color: darkblue;*/
  /*  border: 0 none;
    border-radius: 3px;
    cursor: pointer;*/
   /* display: inline-block;*/
    /*font-size: 12px;*/
    /*padding-left: 0px;
    top: 200px;
    height: 23px;
    line-height: 12px;
    margin: 0 5px 10px 0;
    padding-right: 0px;
    white-space: nowrap;
    width: 123px;
    color: white;
    opacity:1;
    text-align: center;
    margin-left: 3px;*/
/*    
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 2px solid lightblue;
  border-radius: 0.6em;
  color: lightblue;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 10vh;
  padding: 1.1em 2.7em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;*/
 /* z-index: 99;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 40px;
  background: linear-gradient(45deg, #B388EB, #8093F1);
  border-radius: 20px;
  color: #FFF;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 200;*/
  padding: 0;
border: none;
background: none;
}
#buttonText:hover {
   /* background-color: rgba(165, 122, 255, 0.7);
    -webkit-transition: width 2s;*/
/*    border: 0 none;*/
}

body{
   transition: background-image 1s ease-in-out;
}

.body1{
    background-image: url(images/train.jpg);
/*    color: white;*/
    
}
.body2{
   /* background : white;
    color: black;*/
}

.body3{
    background-image: url(images/game_console.jpg);
/*    color: white;*/
    
}
.body4{
   /* background : white;
    color: black;*/
}

.mid{
/*  left: 0;
    line-height: 200px;
    margin: auto;
    margin-top: -100px;
    position: absolute;*/
  /*  top: %;
    width: 100%;*/
    text-align: center;
}

.mid2{
    left: 0;
    line-height: 200px;
    margin: auto;
    margin-top: -100px;
    position: absolute;
    top: 50%;
    width: 100%;
}

#box {
  background-color: lightgray;
}

.section1 {
    height: 100%;
    padding-top: 35vh;
}

.section2 {
    height: 200%;
    padding-top: 10vh;
    background-color: #75b4c5;
    width: 100%
}

.section3 {
    height: 100%;
    padding-top: 35px;
    width: 100%
}

#font1 {
font-family: futura-pt;
font-weight: 400;
font-style: normal;
font-size: 20px;
letter-spacing: .5px;
line-height: 1.6em;
color: #292d40;
margin-bottom: 4vh;
}

#logo {
 text-align:center;
 height: 70%
 width: 70%;
/* margin-top: 5vh;*/
 margin-bottom: 10vh;
}

#imageframe{
  /* background:transparent;
    padding:8px;
    border:3px solid #999999;*/
    border: 2px solid #292d40;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

.align {
  text-align: center;
}

p {
    

}

#textlimit {
  word-wrap: normal | break-word;
  margin: auto;
  width: 60%;
  height: 70%;
}

#imageframe2{
  /* background:transparent;
    padding:8px;
    border:3px solid #999999;*/
    border: 2px solid #292d40;
/*  border-radius: 4px;*/
  padding: 0.7vh;
  width: 60%;
  margin-bottom: 10%;
}

#font_title{
  font-family: 'Source Sans Pro';
      font-weight: 900;
    color: #B3D6D3;
    font-size: 9vh;
  opacity: 0.9;

}


.button {
  border: 2px solid #2e2e2e;
  cursor: pointer;
  letter-spacing: 0.2125rem;
  overflow: hidden;
  padding: 3vh 5vw;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  user-select: none;
}

.button a {
  color: #969696;
  font-family: "Varela Round";
  text-decoration: none;
  text-align: center;
  font-size: 1vw;
}

.button .cover {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.5);
  height: 100px;
  position: absolute;
  transform: translate3d(-120%, -50px, 0) rotate3d(0, 0, 1, 45deg);
  transition: all 1.4s cubic-bezier(0.19, 1, 0.22, 1);
  width: 200px;
}

.button .shift {
  display: inline-block;
  transition: all 1.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.05);
  border-color: #fff;
  box-shadow: 0 0 5px rgba(255, 245, 245, 0.8);
  transition: background 0s;
}

.button:hover a {
  color: #fff;
}

.button:hover .cover {
  background-color: #fff;
  transform: translate3d(120%, -100px, 0) rotate3d(0, 0, 1, 90deg);
}



.button:active {
  background-color: #fff;
}

.button:active a {
  color: #202020;
}

body {
  
}


